@font-face {
    font-family: "IBM Plex Sans";
    src: url('./IBMPlexSansKR-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: IBM Plex Sans;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color:#FBEFF2;
    padding-top: 70px;
    padding-bottom: 70px;
}

#container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}